@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

@theme{
  --font-arimo: "Arimo", arimo;
  --color-navy-100: #4E56C0;
  --color-pastel-blue-100: #D5E3F0;
  --color-pastel-purple-100: #A376A2;
  --color-pastel-purple-200: #8D5F8C;
  --color-pastel-purple-300: #6B3F69;

  

}


#root{
  text-align: center;
}
