@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import "tailwindcss";

@theme{
  --font-arimo: "Arimo", arimo
  --color-orange: #F1A93C

}
#root{
  text-align: center;
}
